@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

:root {
  --color-primary: #FFCB04;
  --color-secondary: #1E3A5F;
  --color-accent: #8A4A0C;
  --color-text: #333333;
}

body {
  color: var(--color-text);
}